{% extends "layouts/box.html" %}
{% load i18n %}
{% load allauth account %}
{% load static %}
{% load crispy_forms_tags %}

{% url 'account_login' as login_url %}
{% block title %}Login{% endblock title %}

{% block wrapper_class %}auth-window{% endblock %}

{% block content %}
<div class="signup-head">
    <img src="{% static 'images/lux_chauffeurs_logo.png' %}" alt="lux chauffeurs logo">
</div>
<h1>Login</h1>
<p class="auth-text">
    If you have not created an account yet, then please
    <a href="{% url 'signup_type' %}" class="auth-link">sign up</a> first.
</p>
{% include 'users/social-logins.html' %}

<form method="post" action="{{ login_url }}" class="box-form">
    {% csrf_token %}
    {{ form |crispy }}
    <!-- element button type="submit" tags="prominent,login"  -->
    <div class="form-buttons">
        <button type="submit" class="button-purple">Sign In</button>
    </div>
</form>
{% endblock content %}