{% extends "layouts/box.html" %}
{% load i18n %}
{% load allauth account %}
{% load static %}
{% load crispy_forms_tags %}

{% url 'account_logout' as logout_url %}
{% block wrapper_class %}auth-window{% endblock %}

{% block content %}
<div class="signup-head">
    <img src="{% static 'images/lux_chauffeurs_logo.png' %}" alt="lux chauffeurs logo">
</div>
<h1>Log Out</h1>
<p class="auth-text">
    Are you sure you want to logout?
</p>
<form method="post" action="{{ logout_url }}" class="box-form">
    {% csrf_token %}
    <div class="form-buttons">
        <button type="submit" class="button-purple">Log Out</button>
    </div>
</form>
{% endblock content %}