{% extends 'layouts/box.html' %}
{% load crispy_forms_tags %}
{% block title %}Register {{ user_type }}{% endblock title %}

{% block content %}
<div class="container mt-5">
    <h1 class="form-head">{{ user_type }} Registration</h1>
    {% include 'users/social-logins.html' %}
    <form action="{{ request.path }}" method="POST">
        {% csrf_token %}
        {{ form | crispy }}

        <div class="form-buttons">
            <button type="submit" class="button-purple">Register as {{ user_type }}</button>
        </div>
    </form>
</div>
{% endblock %}