{% extends 'layouts/box.html' %}
{% block title %}Contact Us{% endblock title %}

{% load crispy_forms_tags %}

{% block content %}

<div id="contact-form">

    <form data-hx-post="{% url 'contact' %}" data-hx-target="#contact-form" data-hx-swap="outerHTML" class="box-form">
        <div class="mo-header">
            <h1>Send Us Your Enquiry</h1>
        </div>
        <div class="mo-body">
            {% csrf_token %}
            {{ form | crispy }}

        </div>
        <div class="flex justify-around w-full">
            <button type="submit" class="button-purple">Send Enquiry</button>
        </div>
    </form>
</div>

{% endblock %}