{% extends 'layouts/blank.html' %}
{% block title %}Home{% endblock title %}
{% load static %}

{% block content %}
<main class="main push-footer">
    <!-- Hero section -->
    <section id="hero" class="section-container flex-dir-col-just-center-align-center">
        <h2 class="h2-style">Experience Unrivaled Luxury</h2>
        <p>Begin your journey of elegance with our world-class chauffeur service, designed
            to offer you a
            seamless, luxurious travel experience from start to end.</p>
        {% include 'home/includes/hero-carousel.html' %}
    </section>
    <!-- Services section -->
    <section id="services" class="section-container flex-dir-col-just-center-align-center">
        <div class="flex-dir-col-just-center-align-center">
            <h2 class="h2-style">Our Services</h2>
            <p class="services-intro">Experience the epitome of luxury and convenience with our exclusive chauffeur
                services,
                tailored to meet your
                every need.</p>
        </div>
        <div class="services-container">
            <div class="wrapper">
                <div class="service-item">
                    <img src="{% static 'images/airport-chauffeur-2.png' %}" alt="Luxury Sedan">
                    <h3>Airport Transfers</h3>
                    <p>Effortless, timely pick-ups and drop-offs to and from all major airports, ensuring a smooth
                        start or end to your travels.</p>
                    <div data-hx-get="{% url 'trip-request' %}?trip-type=Airport%20Transfers" hx-target="#baseDialog" class="button-book"
            aria-label="create a new trip">Book now</div>
                </div>
                <div class="service-item">
                    <img src="{% static 'images/business-chauffeur-2.png' %}" alt="Executive SUV">
                    <h3>Corporate Chauffeur</h3>
                    <p>Professional, discreet drivers for business meetings and corporate events, ensuring
                        punctuality and comfort.</p>
                    <div data-hx-get="{% url 'trip-request' %}?trip-type=Corporate%20Chauffeur" hx-target="#baseDialog" class="button-book"
            aria-label="create a new trip">Book now</div>
                        </div>
            </div>
            <div class="wrapper">
                <div class="service-item">
                    <img src="{% static 'images/wedding-chauffeur-3.png' %}" alt="Spacious Van">
                    <h3>All Special Events</h3>
                    <p>Elegant and luxurious vehicles for weddings, galas, and other significant occasions, designed
                        to make your event unforgettable.</p>
                    <div data-hx-get="{% url 'trip-request' %}?trip-type=Special%20Events" hx-target="#baseDialog" class="button-book"
            aria-label="create a new trip">Book now</div>
                </div>
                <div class="service-item">
                    <img src="{% static 'images/private-chauffeur-3.png' %}" alt="Premium Limousine">
                    <h3>Private & VIP Chauffeur</h3>
                    <p>Personalized chauffeur services for VIPs, ensuring maximum comfort and security for your
                        private or high-profile travels.</p>
                    <div data-hx-get="{% url 'trip-request' %}?trip-type=Private%20%26%20VIP%20Chauffeur" hx-target="#baseDialog" class="button-book"
            aria-label="create a new trip">Book now</div>
                </div>
            </div>
        </div>
    </section>
    <section id="fleet" class="section-container">
        <h2 class="h2-style text-center">Our Fleet</h2>
        <div class="vehicle-container">
            <div class="wrapper">
                <div class="vehicle">
                    <img src="{% static 'images/vehicle-sedan.jpg' %}" alt="rolls royce phantom">
                    <h3>Rolls Royce Phantom</h3>
                    <div class="vehicle-details">
                        <div class="vehicle-detail add-rate"><i class="fa-solid fa-users-between-lines"></i>
                            <span>1-3</span>
                        </div>
                        <div class="vehicle-detail base-rate"><span>Hourly rate</span><span>£ 200</span></div>
                        <div class="vehicle-detail add-rate"><span>4hrs+ rate</span><span>£ 180</span></div>
                        <div data-hx-get="{% url 'trip-request' %}?vehicle=Rolls%20Royce%20Phantom" hx-target="#baseDialog" class="button-book"
            aria-label="create a new trip">Book now</div>
                    </div>
                </div>
                <div class="vehicle">
                    <img src="{% static 'images/vehicle-suv.jpg' %}" alt="range rover voque">
                    <h3>Range Rover Voque</h3>
                    <div class="vehicle-details">
                        <div class="vehicle-detail add-rate"><i class="fa-solid fa-users-between-lines"></i>
                            <span>1-4</span>
                        </div>
                        <div class="vehicle-detail base-rate"><span>Hourly rate</span><span>£ 170</span></div>
                        <div class="vehicle-detail add-rate"><span>4hrs+ rate</span><span>£ 150</span></div>
                        <div data-hx-get="{% url 'trip-request' %}?vehicle=Range%20Rover%20Vogue" hx-target="#baseDialog" class="button-book"
            aria-label="create a new trip">Book now</div>
                    </div>
                </div>
            </div>
            <div class="wrapper">
                <div class="vehicle">
                    <img src="{% static 'images/vehicle-van.jpg' %}" alt="mercedes benz v-class">
                    <h3>Mercedes Benz V-Class</h3>
                    <div class="vehicle-details">
                        <div class="vehicle-detail add-rate"><i class="fa-solid fa-users-between-lines"></i>
                            <span>1-7</span>
                        </div>
                        <div class="vehicle-detail base-rate"><span>Hourly rate</span><span>£ 150</span></div>
                        <div class="vehicle-detail add-rate"><span>4hrs+ rate</span><span>£ 130</span></div>
                        <div data-hx-get="{% url 'trip-request' %}?vehicle=Mercedes%20Benz%20V-Class" hx-target="#baseDialog" class="button-book"
            aria-label="create a new trip">Book now</div>
                    </div>
                </div>
                <div class="vehicle">
                    <img src="{% static 'images/vehicle-limo.jpg' %}" alt="Premium Limousine">
                    <h3>Premium Limousine</h3>
                    <div class="vehicle-details">
                        <div class="vehicle-detail add-rate"><i class="fa-solid fa-users-between-lines"></i>
                            <span>1-10</span>
                        </div>
                        <div class="vehicle-detail base-rate"><span>Hourly rate</span><span>£ 250</span></div>
                        <div class="vehicle-detail add-rate"><span>4hrs+ rate</span><span>£ 230</span></div>
                        <div data-hx-get="{% url 'trip-request' %}?vehicle=Premium%20Limousine" hx-target="#baseDialog" class="button-book"
            aria-label="create a new trip">Book now</div>
                    </div>
                </div>
            </div>
            <div class="wrapper">
                <div class="vehicle">
                    <img src="{% static 'images/vehicle-vintage.jpg' %}" alt="Vintage Car">
                    <h3>Classic Vintage Cars</h3>
                    <div class="vehicle-details">
                        <div class="vehicle-detail add-rate"><i class="fa-solid fa-users-between-lines"></i>
                            <span>1-4</span>
                        </div>
                        <div class="vehicle-detail base-rate"><span>Hourly rate</span><span>£ 250</span></div>
                        <div class="vehicle-detail add-rate"><span>4hrs+ rate</span><span>£ 230</span></div>
                        <div data-hx-get="{% url 'trip-request' %}?vehicle=Classic%20Vintage%20Cars" hx-target="#baseDialog" class="button-book"
            aria-label="create a new trip">Book now</div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section id="get-started" class="section-container">
        <h2 class="h2-style text-center">How to Get Started</h2>
        <p class="started-text">Ready for a first-class experience? Follow these simple steps to book your next
            luxurious ride.</p>
        <div class="steps-container">
            <div>
                <div class="wrapper">
                    <p class="step-label">Step 1</p>
                    <div class="step">
                        <span class="icon"><i class="fa-solid fa-user-plus"></i></span>
                        <p class="step-text"><a
                                href="{% url 'account_signup' %}?next={% url 'profile-onboarding' %}"><span
                                    class="link">Register</span></a> an account or
                            <a href="{% url 'account_login' %}"><span class="link">Login</span></a> if you have
                            an
                            account.
                        </p>
                    </div>
                </div>
                <div class="wrapper">
                    <p class="step-label">Step 2</p>
                    <div class="step">
                        <span class="icon"><i class="fa-solid fa-location-dot"></i></span>
                        <p class="step-text">Enter your destination and other trip details.</p>
                    </div>
                </div>
            </div>
            <div>
                <div class="wrapper">
                    <p class="step-label">Step 3</p>
                    <div class="step">
                        <span class="icon"><i class="fa-solid fa-circle-check"></i></span>
                        <p class="step-text">Confirm your details and submit a booking request.</p>
                    </div>
                </div>
                <div class="wrapper">
                    <p class="step-label">Step 4</p>
                    <div class="step">
                        <span class="icon"><i class="fa-solid fa-car-side"></i></span>
                        <p class="step-text">Vehicle arrives and your luxury experience begins.</p>
                    </div>
                </div>
            </div>
        </div>
    </section>


</main>

{% endblock %}

{% block javascript %}
<script src="{% static 'js/script.js' %}"></script>
{% endblock %}