<div class="modal-content">
    <div class="modal-header">
        <h5 class="modal-title error" ><span>Forbidden:</span> Action not allowed</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
    </div>
    <div class="modal-body">
        <p class="modal-error">{{ error }}</p>
    </div>
    <div class="modal-footer flex justify-around w-full">
        <button type="button" class="button-style button-gray ml-4" data-bs-dismiss="modal" >Cancel</button>
    </div>
</div>