<section class="admin-all">
<h2 class="dash-header">Manage Passengers, Driver and Trips</h2>
<ul class="nav nav-tabs">
  <li class="nav-item">
    <a class="nav-link active" 
        hx-get="{% url 'admin-trips' %}"
        hx-target="#adminTable" 
        hx-swap="innerHTML" 
        hx-trigger="load, click"
        data-tab="trips">Trips
    </a>
  </li>
  <li class="nav-item">
    <a class="nav-link"
     hx-get="{% url 'admin-passengers' %}"
        hx-target="#adminTable" 
        hx-swap="innerHTML" 
        data-tab="passengers">Passengers</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" 
    hx-get="{% url 'admin-drivers' %}"
        hx-target="#adminTable" 
        hx-swap="innerHTML" 
        data-tab="drivers">Drivers</a>
  </li>
</ul>
<div id="adminTable" class="table-wrapper">
 {% include 'trips/partials/admin-trips.html' %}
</div>
</section>