<section class="manager-all">
<h2 class="dash-header">Manage Passengers, Driver and Trips</h2>
<ul class="nav nav-tabs">
  <li class="nav-item">
    <a class="nav-link active" 
    id="tab-trips"
        hx-get="{% url 'manager-tabs' 'trips' %}"
        hx-target="#managerTable" 
        hx-swap="innerHTML" 
        hx-trigger="load, click, tripStatusChanged from:body"
        data-tab="trips">Trips
    </a>
  </li>
  <li class="nav-item">
    <a class="nav-link"
    id="tab-passengers"
     hx-get="{% url 'manager-tabs' 'passengers' %}"
        hx-target="#managerTable" 
        hx-swap="innerHTML" 
        data-tab="passengers">Passengers</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" 
    id="tab-drivers"
    hx-get="{% url 'manager-tabs' 'drivers' %}"
        hx-target="#managerTable" 
        hx-swap="innerHTML" 
        data-tab="drivers">Drivers</a>
  </li>
</ul>
<div id="managerTable" class="table-wrapper">
 {% include 'trips/partials/manager-trips.html' %}
</div>
</section>