{% extends 'layouts/blank.html' %}
{% load static %}

{% block content %}

<main class="main push-footer">


    <div class="trips-container">
        <div class="trip-wrapper">
            <div class="trip-head">
                <h3>My trips</h3>
            </div>
            <div id="trip_list" class="trip-list" hx-get="{% url 'trips-list' 'all' %}"
                hx-trigger="load, tripListChanged from:body">
            </div>
            <button type="button" hx-get="{% url 'trip-request' %}" hx-target="#baseDialog" class="fixed-button"
                aria-label="create a new trip">Create a new trip</button>
        </div>
        <div class="col-sep"></div>
        <div id="trip-detail-container" class="trip-summary">
            <div class="trip-head">
                <h3>Trip Details</h3>
            </div>
            <div class="sub-items flex flex-col items-center">
                <p class="no-trip">
                    Select a Trip to view from the left panel
                </p>

            </div>
        </div>
    </div>
</main>

{% endblock %}
