{% if trips %}
<ol>
{% for trip in trips reversed %}
<li class="trip-item" hx-get="{% url 'trip-detail' trip.trip_name %}?modal=false"
    hx-target="#trip-detail-container"
    {% if forloop.first %}
        hx-trigger="click, load, tripListChanged from:body"
    {% else %}
        hx-trigger="click"
    {% endif %}>
    <div class="trip-top">
        <div class="trip-details">
            <p class="driver">{{ trip.driver }}</p>
            <p class="date">{{ trip.travel_datetime | date:"Y M d - H:i" }}</p>
        </div>
        <div class="trip-status status-{{ trip.status_class }}">
            <p>{{ trip.status_str }}</p>
        </div>
    </div>
    <p class="destination">{{ trip.location_end }}</p>
</li>
{% endfor %}
</ol>
{% else %}
<ul class="empty-container">
    <li class="empty-list">You do not have any trips.</li>
</ul>
{% endif %}