{% extends 'layouts/blank.html' %}
{% load static %}

{% block content %}
<main class="push-footer main-dash max-w-6xl">
    <div class="greeting">
        <h1>Hello {{ user.username }}, welcome back</h1>
        <p>Manage your trips with ease.</p>
    </div>
    <div class="flex">
        <div class="dashboard-menu">
            <div class="dash-body">
                <ul>
                    <li>
                        <button type="button" class="dash-item selected"
                        hx-get="{% url 'dash-details' 'home' %}"
                        hx-target="#display-container"
                        hx-trigger="load, click"
                        >Dashboard</button>
                    </li>
                    <li>
                        <button type="button" class="dash-item"
                        id="all-trips-button"
                        hx-get="{% url 'dash-details' 'trips' %}"
                        hx-target="#display-container"
                        hx-trigger="click"
                        >All Trips</button>
                    </li>
                    {% if user.profile.user_type == 'driver' %}
                    <li>
                        <button type="button" class="dash-item"
                        id="driver-availability-button"
                        hx-get="{% url 'driver-availability' %}"
                        hx-target="#display-container"
                        hx-trigger="click"
                        >My Availability</button>
                    </li>
                    {% endif %}
                    {% if user.profile.user_type == 'driver' %}
                    <li>
                        <button type="button" class="dash-item"
                        id="manage-all-button"
                        hx-get="{% url 'manage-all' %}"
                        hx-target="#display-container"
                        hx-trigger="click"
                        >Admin</button>
                    </li>
                    {% endif %}                           

                </ul>
                <div class="row-sep"></div>
            </div>
            <div class="dash-tail">
                <button type="button" class="dash-button" aria-label="create a new trip"
                    hx-get="{% url 'trip-request' %}" hx-target="#baseDialog">+ Create Trip</button>
            </div>
        </div>
        <div id="display-container" class="dashboard-container">

        </div>
    </div>
</main>
{% endblock %}

{% block javascript %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.30.1/moment.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/fullcalendar@5.10.1/main.min.js"></script>

<!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/3.9.0/fullcalendar.min.js" integrity="sha512-iusSCweltSRVrjOz+4nxOL9OXh2UA0m8KdjsX8/KUUiJz+TCNzalwE0WE6dYTfHDkXuGuHq3W9YIhDLN7UNB0w==" crossorigin="anonymous" referrerpolicy="no-referrer"></script> -->
<script src="{% static 'js/dashboard.js' %}"></script>
<script src="{% static 'js/script.js' %}"></script>
{% endblock %}
