{% load crispy_forms_tags %}

<form action="{{ request.path }}" method="POST" class="modal-content">
    <div class="modal-header">
        <h5 id="baseModalLabel" class="modal-title" >Edit Trip Details</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
    </div>
    <div class="modal-body">
        {% csrf_token %}
        {{ form | crispy }}
    </div>
    <div class="modal-footer flex justify-around w-full">
        <button type="submit" class="button-purple">Save Changes</button>
        <button type="button" class="button-style button-gray ml-4" data-bs-dismiss="modal" >Cancel</button>
    </div>
</form>
