{% load crispy_forms_tags %}

<form hx-post="{{ request.path }}" class="modal-content">
    <div class="modal-header">
        <h5 class="modal-title">Review Trip Details</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
    </div>
    <div class="modal-body">
        {% csrf_token %}
        <div class="sum-item status-container mb-3">
            <p class="title">Status: </p>
            <p class="status status-{{ trip.status_class }} max-w-max">{{ trip.status_str }}</p>
        </div>
        {{ form | crispy }}

        {% if warning_texts %}
        <div class="warning-text-container">
            <h4>Warning Messages:</h4>
            <ul>
                {% for warning_text in warning_texts %}
                <li class="warning-text-item">{{ warning_text }}</li>
                {% endfor %}
            </ul>
        </div>
        {% endif %}

        {% if driver_window_trips %}
        <div class="user-trips-container">
            <h4>Driver's other trips on this day:</h4>
            <ul>
                {% for trip_driver in driver_window_trips %}
                <li class="user-trip-item">
                    <span class="trip-datetime">{{ trip_driver.travel_datetime | date:"Y M d - H:i" }}</span>
                    <span class="status status-{{ trip_driver.status_class }}">{{ trip_driver.status_str }}</span>
                </li>
                {% endfor %}
            </ul>
        </div>
        {% endif %}

        {% if passenger_window_trips %}
        <div class="user-trips-container">
            <h4>Passenger's other trips on this day:</h4>
            <ul>
                {% for trip_passenger in passenger_window_trips %}
                <li class="user-trip-item">
                    <span class="trip-datetime">{{ trip_passenger.travel_datetime | date:"Y M d - H:i" }}</span>
                    <span class="status status-{{ trip_passenger.status_class }}">{{ trip_passenger.status_str }}</span>
                </li>
                {% endfor %}
            </ul>
        </div>
        {% endif %}

        <div class="outcome-container">
            <p>Request Outcome</p>
            <input type="radio" id="approve" name="request_outcome" value="approve">
            <label for="approve">Approve</label><br>
            <input type="radio" id="reject" name="request_outcome" value="reject" checked>
            <label for="reject">Reject</label>
        </div>

        <input id="verify" type="checkbox" name="verify" value="verify" required>
        <label for="verify">All details have been checked and verified</label><br>
        <p id="outcome-text"><span class="reject-text">This trip will be Rejected.</span></p>
    </div>

    <div class="modal-footer flex justify-around w-full">
        <button type="submit" class="button-style button-green">Submit</button>
        <button type="button" class="button-style button-gray ml-4" data-bs-dismiss="modal">Cancel</button>
    </div>
</form>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
    $(document).ready(function() {
        function updateOutcomeText() {
            if ($('#approve').is(':checked')) {
                $('#outcome-text').html('<span class="approve-text">This trip will be Approved.</span>');
            } else {
                $('#outcome-text').html('<span class="reject-text">This trip will be Rejected.</span>');
            } 
        }

        $('input[name="request_outcome"]').on('change', function() {
            updateOutcomeText();
        });

        updateOutcomeText();
    });
</script>