{% extends 'layouts/blank.html' %}
{% block title %}Trips{% endblock title %}

{% load static %}

{% block content %}
<main class="push-footer main-dash">
    <div class="greeting">
        <h1>Hello {{ user.username | capfirst }}, welcome back</h1>
        <p>Manage your trips with ease.</p>

        <div class="mobile-dash-menu mobile">
            <label for="mobileDashMenu">Go to:</label>
            <select name="mobileDashMenu" id="mobileDashMenu">

                <option value="summary" class="dash-item selected" data-hx-get="{% url 'dash-details' 'home' %}"
                        data-hx-target="#display-container" data-hx-trigger="load, click" id="summaryViewOption">Summary</option>
                <option value="listview" class="dash-item" id="listViewOption" data-hx-get="{% url 'dash-details' 'list-view' %}" 
                        data-hx-target="#display-container" data-hx-trigger="click">Trips - List</option>
                <option value="calendaview" class="dash-item" id="calendarViewOption" data-hx-get="{% url 'calendar-view' %}" 
                        data-hx-target="#display-container" data-hx-trigger="click"> Trips - Calendar</option>
                {% if user.profile.user_type == 'manager' %}
                <option value="manager" class="dash-item" id="managerViewOption" data-hx-get="{% url 'manager-overview' %}"
                        data-hx-target="#display-container" data-hx-trigger="click">Manager</option>
                {% endif %}
            </select>
        </div>
    </div>
    <div class="dash-wrapper">
        <div class="dashboard-menu">
            <div class="dash-body">
                <ul class="menu-large">
                    <li>
                        <div class="dash-item selected" data-hx-get="{% url 'dash-details' 'home' %}"
                            data-hx-target="#display-container" data-hx-trigger="load, click"><i class="fa-solid fa-table-cells"></i><span>Summary</span></div>
                    </li>
                    <li>
                        <div class="dash-item" id="listViewButton"
                            data-hx-get="{% url 'dash-details' 'list-view' %}" data-hx-target="#display-container"
                            data-hx-trigger="click"><i class="fa-solid fa-list"></i><span>List</span></div>
                    </li>
                    <li>
                        <div class="dash-item" id="calendarViewButton"
                            data-hx-get="{% url 'calendar-view' %}" data-hx-target="#display-container" data-hx-trigger="click">
                            <i class="fa-solid fa-calendar-days"></i><span>Calendar</span>
                        </div>
                    </li>
                    {% if user.profile.user_type == 'manager' %}
                    <li>
                        <div class="dash-item" id="managerViewButton" data-hx-get="{% url 'manager-overview' %}"
                            data-hx-target="#display-container" data-hx-trigger="click"><i class="fa-solid fa-user-tie"></i><span>Manager</span></div>
                    </li>
                    {% endif %}
                </ul>
                <div class="row-sep"></div>
            </div>
            {% if user.profile.user_type == 'passenger' %}
            <div class="dash-tail">
                <div class="dash-button" aria-label="create a new trip"
                    data-hx-get="{% url 'trip-request' %}" data-hx-target="#baseDialog">+ Create Trip
                </div>
            </div>
            {% endif %}
        </div>
        <div id="display-container" class="dashboard-container"></div>
    </div>
</main>
{% endblock %}
{% block javascript %}
<script src="{% static 'js/dashboard.js' %}"></script>
<script src="{% static 'js/script.js' %}"></script>
{% endblock %}