{% if trips %}
{% for trip in trips reversed %}
<div class="trip-item" hx-get="{% url 'trip-detail' trip.trip_name %}" hx-trigger="click"
    hx-target="#trip-detail-container">
    <div class="trip-top">
        <div class="trip-details">
            <p class="driver">{{ trip.driver }}</p>
            <p class="date">{{ trip.travel_datetime | date:"Y M d - H:i" }}</p>
        </div>
        <div class="trip-status status-complete">
            <p>{{ trip.status }}</p>
        </div>
    </div>
    <p class="destination">{{ trip.location_end }}</p>
</div>
{% endfor %}
{% else %}
<div class="empty-container">
    <p class="empty-list">You do not have any trips.</p>
</div>
{% endif %}