{% extends 'layouts/blank.html' %}
{% load static %}

{% block content %}

<div class="greeting">
    <h1>Hello {{ user.username }}, welcome back</h1>
    <p>Manage your trips with ease.</p>
</div>
<div class="trips-container">
    <div class="trip-wrapper">
        <div class="trip-head">
            <h3>My trips</h3>
        </div>
        <div id="trip_list" class="trip-list">
            {% include 'trips/trip-list.html' %}
        </div>
        <a href="{% url 'trip-request' %}" class="fixed-button" aria-label="create a new trip">Create a new trip</a>
    </div>
    <div class="col-sep"></div>
    <div id="trip-detail-container" class="trip-summary">
        <div class="trip-head">
            <h3>Trip Details</h3>
        </div>
        <div class="sub-items flex flex-col items-center">
            <p class="no-trip">
                Select a Trip to view from the left panel
            </p>

        </div>
    </div>
</div>


{% endblock %}

{% block javascript %}
<script>
    const minTime = "{{ min_valid_time_str }}";

    flatpickr("#trip_datetime", {
        enableTime: true,
        minDate: minTime,
        dateFormat: "Y-m-d H:i",
        minuteIncrement: 15,
        time_24hr: true,
    });
</script>
<script src="{% static 'js/script.js' %}"></script>
{% endblock %}