<form hx-post="{{ request.path }}" class="modal-content">
    <div class="modal-header">
        <h5 class="modal-title" >End Trip</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
    </div>
    <div class="modal-body">
        {% csrf_token %}
        <div class="end-head">
            <i class="fa-regular fa-circle-check"></i></p>
            <p class="good-text">Passenger has arrived:</p>
        </div>

        <div class="trip-delete-details">
            <div class="locations">
                <p><span class="sub-head">Picked Up: </span><address class="bold-value">{{ trip.location_start }}</address></p>
                <p><span class="sub-head">Destination: </span><address class="bold-value">{{ trip.location_end }}</address></p>
            </div>
        </div>

    </div>
    <div class="modal-footer flex justify-around items-center w-full">
        <button type="submit" class="button-purple">End Trip <i class="fa-solid fa-ban"></i></button>
        <button type="button" class="button-style button-gray ml-4" data-bs-dismiss="modal" >Cancel</button>
    </div>
</form>