* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

main {
    display: flex;
    flex-direction: column;
    /* justify-content: space-evenly; */
    width: 100%;
    align-items: center;
    /* border: 3px solid black;
    margin: 20px; */
}

.push-footer {
    flex: 1 0 auto;
}

.header {
    width: 100%;
    /* background-color: aqua; */
    /* border:2px solid red; */
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    box-sizing: border-box;
    margin-bottom: 10px;
}

.header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 90px;
}

.navbar-nav {
    display: flex;
    flex-direction: row;
    list-style: none;
}

.navbar-item {
    margin: 0 10px;
}

#hero p {
    margin: 20px 5px;
}

.h2-style {
    font-size: 38px;
    font-weight: bold;
    color: black
}

.logo {
    display: flex;
    align-items: center;
    justify-content: center;
}

.logo img {
    width: 90px;
}

/* .hero-image {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 10px 0;
}

.hero-image img {
    width: 100%;
    max-width: 48rem;
    height: 100%;
    border-radius: 10px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.15);
    overflow: hidden;
} */

/* hero section */
#hero-home {
    width: 100%;
    max-width: 48rem;
}

.hero-slider {
    position: relative;
    width: 100%;
    max-width: 48rem;
    height: auto;
    margin: 10px;
    border-radius: 10px;
    background-color: rgba(0, 0, 0, 0.15);
}

.hero-item {
    /* z-index: 1; */
    width: 100%;
    clip-path: circle(0% at 0 50%);
}

.hero-item.active {
    clip-path: circle(150% at 0 50%);
    transition: 2s;
    transition-property: clip-path;
}

.hero-image {
    /* z-index: 1; */
    width: 100%;
    max-width: 48rem;
    height: 100%;
    border-radius: 10px 10px 0 0;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.15);
    overflow: hidden;
}

.hero-text {
    padding: 15px 30px;
}

.hero-text h3 {
    color: purple;
    font-size: 40px;
    text-transform: uppercase;
    font-weight: 800;
    letter-spacing: 2px;
    margin-top: 10px;
    text-align: center;
}

.slide-control {
    z-index: 2;
    position: absolute;
    display: flex;
    bottom: 60px;
    left: 50%;
    transform: translateX(-50%);
}

.slide-control .btn-item {
    background: rgb(255, 255, 255);
    width: 40px;
    height: 6px;
    margin: 10px;
    /* border-radius: 50%; */
    cursor: pointer;
}

.slide-control .btn-item.active {
    background: rgb(153, 153, 239);
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.059);
}

.benefit {
    margin: 30px;
    height: 150px;
    border: 2px solid red;
}

#book-now {
    border: 2px solid blue;
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
}

#book-now button {
    width: 200px;
    margin: 20px;
}

section {
    margin: 30px;
}

.footer {
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
    margin: 0 30px 20px;
}

/* rotate arrow */
.arrow-icons {
    transition: transform 0.3s ease-in-out;
}

.rotate {
    transform: rotate(-180deg);
}

.hidden-item {
    display: none;
}

.menu-item {
    background-color: lightgrey;
    width: 100%;
    text-align: end;
}

.menu-item:hover {
    background-color: #f3f4f6;
}

.menu-item a {
    width: 100%;
    display: inline-block;
}



/* Modal style */
.modal-container h1 {
    font-size: 1.5rem;
    font-weight: bold;
    margin-bottom: 10px;
}

.modal-container button {
    background-color: rgb(183, 198, 20);
    margin: 15px 0 10px;
    padding: 5px 10px;
    border-radius: 10px;
    width: auto;
    height: 35px;
    color: white;
    font-weight: 500;
}

.modal-container button:hover {
    transform: scale(1.04);
    box-shadow: 0 4px #091f0a;
}

.modal-container label {
    margin: 10px 0 5px;
}

.modal-container label[for="id_remember"] {
    display: inline-block;
    width: auto;
    margin: 15px 10px 0 0;
}

.modal-container input {
    width: 100%;
    border-radius: 0.5rem;
    background-color: #f3f4f6;
    height: 40px;
    padding: 8px 10px;
    margin-bottom: 5px;
}

.modal-container [type="checkbox"] {
    width: auto;
    height: auto;

}

.helptext a {
    text-decoration: underline;
}

.errorlist {
    display: none;
}

/* modal buttons */
.button-style {
    margin: 15px 0 5px;
    border-radius: 10px;
    width: 70px;
    height: 35px;
    color: white;
    font-weight: 500;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
}

.button-style:hover {
    transform: scale(1.04);
    box-shadow: 0 4px #091f0a;
    color: white;
}

.button-gray {
    background-color: rgb(120, 120, 120);
}

#id_home_address {
    height: 120px;
}

.hoverlist {
    transition: all 0.15s ease;
}

/* handling messages */
#message-container {
    position: absolute;
    left: 0;
    top: 0;
    /* max-width: 600px; */
    width: 100%;
    margin: 20px auto;
    padding: 0 20px;
    z-index: 50;
    display: flex;
    justify-content: center;
}

.message {
    display: none;
    opacity: 0;
    transform: translateY(-20px);
    transition: opacity 0.7s ease-out, transform 0.7s ease-out;
    max-width: 600px;
}

.message.show {
    display: flex;
    justify-content: center;
    opacity: 1;
    transform: translateY(0);
    /* transform: translate(50%, 0); */

}

.message-content {
    display: flex;
    align-items: center;
    color: white;
    padding: 12px 20px;
    border-radius: 8px;
    width: 100%;
}

.alert-warning {
    background-color: #f6603bb3;
}

.alert-success {
    background-color: #7df63bb3;
}

.message-text {
    font-size: 16px;
    flex-grow: 1;
}

#delete-btn {
    width: auto;
    height: 35px;
    padding: 5px 10px;
    background-color: rgb(205, 17, 17);
}

/* Chauffeur page */
.chauffeurs-container {
    /* border: 2px solid red; */
    padding: 40px 20px;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.chauffeur {
    height: auto;
    width: 250px;
    border: 2px solid purple;
    /* background-color: gold; */
    border-radius: 15px;
    overflow: hidden;
    margin: 20px 40px;
}

.chauffeur-head {
    /* background-color: rgb(182, 137, 182); */
    height: auto;
    padding: 8px;
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
}

.chauffeur-body {
    /* border: 2px solid purple; */
    background-color: #a99005;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
    padding: 15px;
}

.chauffeur-image {
    border: 2px solid black;
    height: 150px;
    width: 150px;
    margin: 10px 0;
}

.chauffeur-image img {
    height: 100%;
    width: 100%;
    border-radius: 50%;
    object-fit: cover;
    background-position: center;
    border: 3px solid whitesmoke;
}

.chauffeur-cta {
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
    background-color: purple;
    color: white;
    padding: 6px;
}

.chauffeur-speciality {
    margin: 15px 2px;
    display: flex;
    flex-direction: column;
    /* flex-wrap: wrap; */
    justify-content: center;
    align-items: center;
}

.chauffeur-speciality .speciality {
    margin: 3px 5px;
    background-color: #f3f4f6;
    border-radius: 10px;
    padding: 1px 6px;
    border: 1px solid darkgrey;
    width: fit-content;
}

.chauffeur .details {
    font-size: 1.5rem;
    color: purple;
    font-size: 1.5rem;
    font-weight: 800;
    letter-spacing: 2px;
}

/* Our fleet */

.vehicle-container {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

/* .vehicle-container .wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
} */

.vehicle {
    margin: 20px;
    background-color: #ffd70063;
    border-radius: 15px;
}

.vehicle img {
    max-width: 35rem;
    width: 400px;
    /* border-radius: 15px; */
    border-radius: 15px 15px 0 0;

}

.vehicle h3 {
    background-color: #a99005;
    color: white;
    font-size: 1.5rem;
    text-transform: uppercase;
    font-weight: 800;
    letter-spacing: 2px;
    text-align: center;
    padding: 10px;
}

.vehicle-details {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px 40px 20px;
}

.vehicle-detail {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 1.5rem;
    width: 100%;
    margin-bottom: 10px;
}

/* our services */
#services {
    margin: 20px 30px;
}

.services-container {
    display: flex;
    /* flex-direction: column; */
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    /* gap: 20px; */
    padding: 10px 20px;
}

/* .services-container .wrapper {
    color: red;
} */

.service-item {
    margin: 10px 20px;
    max-width: 35rem;
    width: 400px;
    height: 500px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.service-item img {
    max-width: 35rem;
    width: 100%;
    border-radius: 15px;
    height: 270px;
    margin: 15px 5px 5px;
}

.service-item p {
    text-align: center;
    width: 90%;
    margin: 10px;
}

.service-item h3 {
    color: purple;
    font-size: 1.5rem;
    text-transform: uppercase;
    font-weight: 800;
    letter-spacing: 2px;
    margin-top: 10px;
    text-align: center;
}

.button-book {
    margin: 20px 0 5px;
    border-radius: 10px;
    width: 150px;
    height: 50px;
    color: white;
    background-color: purple;
    font-size: 1.3rem;
    font-weight: 500;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
}

.button-book:hover {
    transform: scale(1.04);
    /* box-shadow: 0 4px #091f0a; */
    color: purple;
    background-color: white;
    border: 2px solid purple;
}

/* get started section  */

.steps-container {
    background-color: rgba(128, 0, 128, 0.548);
    width: 100%;
    height: auto;
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.steps-container .step-label {
    font-size: 1.3rem;
    margin: 20px 20px 10px;
}

.steps-container .step {
    border: 1px solid gold;
    margin: 10px 20px;
    width: 250px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px;
}

.step .icon {
    background-color: #f6d206;
    height: 50px;
    width: 50px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid black;
    margin: 20px 0 10px;
}

.step .link {
    font-weight: 800;
}

.step p {
    text-align: center;
}

.started-text {
    text-align: center;
    padding: 15px;
}

/* trips style */
.greeting {
    /* border: 2px solid red; */
    width: 100%;
    padding: 10px 30px 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.greeting h1 {
    font-size: 1.7rem;
    font-weight: bold;
}

.greeting p {
    font-style: italic;
    padding: 5px 0;
}

.new-trip h2 {
    color: purple;
    font-size: 1.5rem;
    font-weight: 800;
    margin-top: 10px;
    text-align: center;
}

/* trip view */
.trips-container {
    border: 1px solid darkgray;
    border-radius: 8px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 25px;
}

.trip-head h3 {
    text-align: center;
    font-weight: bold;
    margin: 12px;
    font-size: 20px;
    text-transform: capitalize;
}

.trip-wrapper {
    width: 350px;
    height: 560px;
    padding: 0 20px 10px;
    position: relative;
}

.col-sep {
    width: 1px;
    background-color: darkgray;
    border-radius: 4px;
    margin: 40px 0;
}

.trip-list {
    margin-top: 15px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    max-height: 485px;
    overflow-y: auto;
    overflow-x: hidden;
}


.trip-item {
    border: 1px solid gray;
    border-radius: 8px;
    margin: 4px 4px 10px;
    padding: 6px;
    cursor: pointer;
    width: 100%;
}

.trip-item .trip-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.trip-item .driver {
    font-size: 15px;
    text-align: left;
}

.trip-item .date {
    font-size: 12px;
    font-style: italic;
    text-align: center;
    margin: 5px 0;
}

.trip-item .destination {
    font-size: 12px;
    font-weight: bold;
}

.trip-item .trip-status {
    border: 1px solid gray;
    border-radius: 10px;
    height: 25px;
    width: max-content;
}

.status-pending,
.status-modified {
    background-color: #fd7e14;
}

.status-confirmed {
    background-color: #28a745;
}

.status-in-progress {
    background-color: #4a99b1;
}

.status-cancelled {
    background-color: #dc3545;
}

.status-completed {
    background-color: #828181;
}

.status {
    color: white;
}


.trip-status p {
    font-size: 12px;
    font-style: italic;
    text-align: center;
    text-transform: capitalize;
    color: whitesmoke;
    font-weight: bold;
    padding: 3px 10px;
}

.trip-summary {
    min-width: 350px;
}

.no-trip {
    margin: 30px 0;
    border: 1px dashed gray;
    width: 70%;
    text-align: center;
    font-style: italic;
    border-radius: 10px;
    padding: 10px;
}

.empty-container {
    width: 100%;
    padding: 20px 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.empty-container a {
    padding: 10px;
    font-size: 1rem;
    border-radius: 10px;
    background-color: purple;
    color: white;
    font-weight: bold;
}

.empty-list {
    margin: 30px 0;
    border: 1px dashed gray;
    width: 100%;
    border-radius: 10px;
    padding: 10px;
    text-align: center;
}

.fixed-button {
    padding: 5px;
    font-size: 1rem;
    border-radius: 10px;
    background-color: purple;
    color: white;
    font-weight: bold;
    width: 250px;
    text-align: center;
    position: absolute;
    bottom: -30px;
    left: 50%;
    transform: translateX(-50%);
}

.sum-item {
    /* border: 1px solid black; */
    margin: 10px 6px;
    padding: 5px;
    border-bottom: 1px solid black;
}

.sub-items {
    border-radius: 8px;
    box-shadow: 0 0 6px gray;
    padding-bottom: 20px;
    height: max-content;
    min-width: 350px;
    min-height: 560px;
    margin: 20px;
    padding: 10px;
}

.sub-items .status {
    border: 1px solid gray;
    border-radius: 10px;
    height: 30px;
    width: max-content;
    text-align: center;
    font-weight: bold;
    font-style: italic;
    font-size: 0.8rem;
    text-transform: capitalize;
    padding: 4px 10px;
    margin-bottom: 3px;
}

.sum-item .sub-head {
    text-align: center;
    font-weight: bold;
}

.sum-item.status-container {
    display: flex;
    justify-content: space-between;
    height: 50px;
    margin-bottom: 0;
    padding: 5px 20px;
}

.sum-item.status-container .title {
    font-weight: bold;
}

.sum-item .driver {
    text-align: center;
    font-size: 1.1rem;
    font-weight: bold;
    font-style: italic;
    color: purple;
}

.sum-item .one-row {
    text-transform: capitalize;
    margin-bottom: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.text-bold {
    font-weight: bold;
}

.trip-image {
    /* height: 130px;
    width: 150px;
    border-radius: 50%;
    border: 1px solid red;
    overflow: hidden; */
    display: flex;
    justify-content: center;
    margin: 15px 10px;
}

.trip-image img {
    height: 140px;
    width: 150px;
    border: 3px solid purple;
    background-color: white;
    border-radius: 50%;
}

.vehicle-summary {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.vehicle-summary p {
    display: flex;
    justify-content: space-between;
    width: 100%;
    font-size: 1rem;
}

.bold-value {
    color: purple;
    font-weight: 500;
}

.italic-value {
    font-style: italic;
}

.trip-controls {
    margin: 30px 15px 10px;
    display: flex;
    justify-content: space-between;
}

.trip-controls .trip-btn {
    border: 1px solid gray;
    height: 30px;
    width: max-content;
    border-radius: 8px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 5px 10px;
}

.trip-btn i {
    margin-left: 10px;
}

/* trip form */
.form-container {
    display: flex;
    margin: 20px;
}

.trip-input input:focus,
.trip-input textarea:focus {
    border: 2px solid purple;
    box-shadow: 0 0 10px gold;
}

.form-fields {
    width: 100%;
    border: 1px solid purple;
    border-radius: 5px;
    padding: 6px 12px;
}

.trip-label {
    padding: 0 5px;
    height: 45px;
    text-transform: capitalize;
}

.submit-button {
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
}

.submit-button button {
    background-color: rgb(183, 198, 20);
    margin: 15px 0 10px;
    padding: 5px 10px;
    border-radius: 10px;
    width: 140px;
    height: 35px;
    color: white;
    font-weight: 500;
}

.form-subhead {
    margin: 10px 0 5px;
    font-weight: 700;
}

.form-head {
    text-transform: capitalize;
    text-align: center;
}


.signup-head {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.signup-head img {
    width: 150px;
}

.signup-body {
    padding: 20px 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.signup-item {
    margin: 10px 0;
    width: 260px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    padding: 10px;
}

.type-head {
    font-weight: bold;
    color: purple;
    font-size: 1.1rem;
}

.type-text {
    text-align: center;
    margin: 12px 0;
}

.signup-btn {
    background-color: purple;
    margin: 15px 0 10px;
    padding: 5px 10px;
    border-radius: 10px;
    width: auto;
    height: 35px;
    color: white;
    font-weight: 500;
}

.row-sep {
    width: 80%;
    height: 1px;
    background-color: gray;
    /* margin: 40px 0; */
}

.signin-body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 15px;
}

/* Modal styles */

#baseModal {
    display: none;

}

#baseModalContainer {
    display: none;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.2);
}

.disable {
    pointer-events: none;
    opacity: 0.7;
}

.btn-close {
    background-color: white;
}

.modal-title {
    color: #091152;
    margin: 0 0 15px;
    font-size: 1.5rem;
}

.game-modal {
    background: -o-radial-gradient(center,
            circle,
            #b9e495 0%,
            #9fda6f 60%,
            #7fce3f 100%);
    background: radial-gradient(circle at center,
            #b9e495 0%,
            #9fda6f 60%,
            #7fce3f 100%);
    width: 300px;
    padding: 30px 10px;
    border-radius: 10px;
    -webkit-box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    text-align: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    border: 2px solid lightcyan;
}

.game-modal p {
    margin: 2px;
    color: #091152;
}

.modal-buttons {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: space-evenly;
    -ms-flex-pack: space-evenly;
    justify-content: space-evenly;
    -webkit-box-align: baseline;
    -ms-flex-align: baseline;
    align-items: baseline;
    margin: 20px 10px;
    height: -webkit-max-content;
    height: -moz-max-content;
    height: max-content;
    width: 250px;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    gap: 10px;
}

.modal-buttons button {
    border-radius: 50px;
    border: 2px solid lightcyan;
    color: #e0ffff;
    background-color: #2f44e8;
    -webkit-box-shadow: 0 4px #1b5e20;
    box-shadow: 0 4px #1b5e20;
    -webkit-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
    height: 50px;
    width: 150px;
    font-weight: 700;
    text-shadow: -2px 1px 0 black;
    text-transform: uppercase;
    font-size: 0.9rem;
    letter-spacing: 1px;
}

.modal-buttons button:hover {
    -webkit-transform: scale(1.04);
    -ms-transform: scale(1.04);
    transform: scale(1.04);
    -webkit-box-shadow: 0 6px #1b5e20;
    box-shadow: 0 6px #1b5e20;
}