<header class="header">
    <div class="container">
        <a class="logo" href="#">
            Luxury Chauffeur Service
        </a>
        <nav>
            <ul class="navbar-nav">
                <li class="navbar-item"><a href="#">Home</a></li>
                <li class="navbar-item"><a href="#">Services</a></li>
                <li class="navbar-item"><a href="#">Our Chauffeurs</a></li>
                <li class="navbar-item"><a href="#">Contact us</a></li>
            </ul>
        </nav>
        <div class="account">
            <a href="#">Login</a>
            <a href="#">Signup</a>
            <i class="fa-regular fa-circle-user"></i>
        </div>
    </div>
</header>