{% load static %}

{% url 'home' as home_url %}
{% url 'chauffeurs' as chauffeurs_url %}

<header class="header">
    <div class="container">
        <a class="logo" href="{{ home_url }}">
            <img src="{% static 'images/lux_chauffeurs_logo.png' %}" alt="lux chauffeurs logo" >
            Lux Chauffeurs
        </a>
        <nav>
            <ul class="navbar-nav">
                <li class="navbar-item"><a href="{{ home_url }}" class="{% if request.path == home_url %}active" aria-current="page{% endif %}">Home</a></li>
                <li class="navbar-item"><a href="{{ chauffeurs_url }}" class="{% if request.path == chauffeurs_url %}active" aria-current="page{% endif %}">Our Chauffeurs</a></li>
                <li class="navbar-item"><a href="#">Contact us</a></li>
            </ul>
        </nav>
        <div class="account relative">
            {% if request.user.is_authenticated %}
            <div class="dropdown-head flex items-center justify-center cursor-pointer">
                <a href=""></a>
                <img class="h-8 w-8 rounded-full object-cover" src="{{ user.profile.avatar }}" />
                <span id="user-name" class="ml-2 mr-1">{{ user.profile.name }}</span>
                <img src="{% static 'icons/bi-chevron-down.svg' %}" class="arrow-icon w-5" alt="arrow">

            </div>
            <div class="dropdown-body hidden-item absolute right-2 shadow rounded-lg w-40">
                <ul class="flex flex-col items-end">
                    <li class="menu-item"><a href="{% url 'profile' %}">My Profile</a></li>
                    <li class="menu-item"><a href="{% url 'profile-edit' %}">Edit Profile</a></li>
                    <li class="menu-item"><a href="{% url 'trips' %}">My Trips</a></li>
                    <li class="menu-item dashboard-link"><a href="{% url 'trips-dashboard' %}">Dashboard</a></li>
                    <li class="menu-item"><a href="{% url 'profile-settings' %}">Settings</a></li>
                    <li class="menu-item"><a href="{% url 'account_logout' %}">Log Out</a></li>
                </ul>
            </div>
            {% else %}
            <a href="{% url 'account_login' %}">Login</a>
            <a href="{% url 'signup_type' %}">Signup</a>
            {% endif %}
            
        </div>
    </div>
</header>