{% load static %}

{% url 'home' as home_url %}
{% url 'chauffeurs' as chauffeurs_url %}

<header class="header-main">
    <div class="main-nav">
        <nav class="navbar">
            <div class="navbar-nav">
                <div class="navbar-logo">
                        <img src="{% static 'images/lux_chauffeurs_logo.png' %}" alt="lux chauffeurs logo">
                </div>
                <ul class="nav-list">
                    <li class="navbar-item">
                        <a href="{{ home_url }}" class="nav-link {% if request.path == home_url %}active" aria-current="page{% endif %}">
                            <i class="fa-solid fa-house"></i>
                            <span class="link-text">Home</span>
                        </a>
                    </li>
                    <li class="navbar-item">
                        <a href="{% url 'trips-dashboard' %}" class="nav-link" id="dashboardLink">
                            <i class="fa-solid fa-qrcode"></i>
                            <span class="link-text">Dashboard</span>
                        </a>
                    </li>
                    <li class="navbar-item">
                        <a href="{% url 'profile' %}"  class="nav-link">
                            <i class="fa-solid fa-user"></i>
                            <span class="link-text">Profile</span>
                        </a>
                    </li>
                    <li class="navbar-item">
                        <a href="{{ chauffeurs_url }}" class="nav-link {% if request.path == chauffeurs_url %}active" aria-current="page{% endif %}">
                            <i class="fa-solid fa-car-side"></i>
                            <span class="link-text">Drivers</span>
                        </a>
                    </li>
                    </li>
                    <li class="navbar-item">
                        <a href="#" class="nav-link">
                            <i class="fa-solid fa-gears"></i>
                            <span class="link-text">Settings</span>
                        </a>
                    </li>
                    <li class="navbar-item">
                        <a href="#" class="nav-link">
                            <i class="fa-solid fa-envelope-circle-check"></i>
                            <span class="link-text">Contact</span>
                        </a>
                    </li>
                </ul>
            </div>
        </nav>
    </div>
</header>