{% load static %}

<div id="hero-home" class="flex flex-col justify-center items-center">
    <!-- Custom image carousel -->
    <div class="hero-slider">
        <!-- Hero Item 1 -->
        <div class="hero-item active">
            <img src="{% static 'images/rolls-royce-car.jpg' %}" class="hero-image" alt="welcome">
            <div class="hero-text">
                <h3>Welcome to Lux Chauffeurs</h3>
            </div>
        </div>
        <!-- Hero Item 2 -->
        <div class="hero-item hidden-item">
            <img src="{% static 'images/airport-chauffeur-1.jpg' %}" class="hero-image" alt="Airport Transfers">
            <div class="hero-text">
                <h3>Airport Transfers</h3>
            </div>
        </div>
        <!-- Hero Item 3 -->
        <div class="hero-item hidden-item">
            <img src="{% static 'images/business-chauffeur-1.jpg' %}" class="hero-image" alt="corporate chauffeur">
            <div class="hero-text">
                <h3>Corporate Chauffeur</h3>
            </div>
        </div>
        <!-- Hero Item 4 -->
        <div class="hero-item hidden-item">
            <img src="{% static 'images/wedding-chauffeur-1.jpg' %}" class="hero-image" alt="special events">
            <div class="hero-text">
                <h3>Special Events</h3>
            </div>
        </div>

        <!-- Hero Item 5 -->
        <div class="hero-item hidden-item">
            <img src="{% static 'images/private-chauffeur-1.jpg' %}" class="hero-image" alt="private & VIP chauffeur">
            <div class="hero-text">
                <h3>Private & VIP Chauffeur</h3>
            </div>
        </div>
        <!-- Slide control/tracker  -->
        <div class="slide-control">
            <div class="btn-item active"></div>
            <div class="btn-item"></div>
            <div class="btn-item"></div>
            <div class="btn-item"></div>
            <div class="btn-item"></div>
        </div>
    </div>
</div>