{% extends 'layouts/box.html' %}
{% load crispy_forms_tags %}

{% block content %}

{% if is_new_user %}
<h1 class="mb-4">Complete your Profile</h1>
{% else %}
<h1 class="mb-4">Edit your Profile</h1>
{% endif %}

<div class="text-center flex flex-col items-center">
    <img id="avatar" class="w-36 h-36 rounded-full object-cover my-4" src="{{ user.profile.avatar }}" />
    <div class="text-center max-w-md">
        <h1 id="displayname">{{ user.profile.name }}</h1>
    </div>
</div>
<form method="POST" enctype="multipart/form-data">
    <h2 class="form-subhead">Personal Profile</h2>
    {% csrf_token %}
    {{ profile_form | crispy }}

    <h2 class="form-subhead">
        {% if user_type == 'driver' %}
        Driver Information
        {% else %}
        Passenger Information
        {% endif %}
    </h2>
    {{ role_form | crispy }}

    <div class="flex justify-around w-full">
        {% if is_new_user %}
        <button type="submit">Complete Profile</button>
        <a class="button-style button-gray items-center" href="{% url 'home' %}">Skip</a>
        {% else %}
        <button type="submit">Save Changes</button>
        <a class="button-style button-gray items-center" href="{{ request.META.HTTP_REFERER }}">Cancel</a>
        {% endif %}

    </div>
</form>

<script>

    const display_nameInput = document.getElementById('id_displayname');
    const display_nameOutput = document.getElementById('displayname');;

    display_nameInput.addEventListener('input', (e) => {
        display_nameOutput.innerText = e.target.value;
    });
</script>

{% endblock %}