{% extends 'layouts/box.html' %}

{% block content %}

<h1>Account Settings</h1>

<table class="settings-table">
    <tbody>
        <tr>
            <th scope="row" class="row-head">
                Email address
            </th>
            <td id="email-address" class="row-value">
                {% if user.email %}{{ user.email }}{% else %}No Email{% endif %}
            </td>
            <td class="row-value">
                <a id="email-edit" class="row-action blue"
                    hx-get="{% url 'profile-settingschange' %}" hx-target="#email-address" hx-swap="innerHTML">
                    Edit
                </a>
            </td>
        </tr>
        <tr class="border-b">
            <th scope="row" class="row-head">
            </th>
            <td class="row-value">
                {% if user.emailaddress_set.first.verified %}
                <span class="verified">Verified</span>{% else %}
                <span class="not-verified">Not verified</span>
                {% endif %}
            </td>
            <td class="row-value">
                {% if not user.emailaddress_set.first.verified %}
                <a href="{% url 'profile-emailverify' %}" class="row-action blue">
                    Verify
                </a>
                {% endif %}
            </td>
        </tr>

        <tr class="border-b">
            <th scope="row" class="row-head">
                Delete Account
            </th>
            <td class="row-value">
                Once deleted, account cannot be recovered.
            </td>
            <td class="row-value">
                <a href="{% url 'profile-delete' %}" class="row-action red">
                    Delete
                </a>
            </td>
        </tr>
    </tbody>
</table>


{% endblock %}