{% extends 'layouts/blank.html' %}
{% load static %}

{% block content %}

<section id="hero" class="hero-chauffeurs">
    <h2 class="h2-style text-center">Meet our Professional Chauffeurs</h2>
    <p class="text-center">Discover the elite chauffeurs dedicated to providing an exceptional blend of comfort, luxury
        and safety with every ride.</p>
</section>

<!-- Chauffeurs section -->
<section class="chauffeurs-container">
    {% if chauffeurs %}
    {% for chauffuer in chauffeurs %}
    
    <div class="chauffeur">
        <div class="chauffeur-head">
            <div class="chauffeur-image rounded-full">
                <img src="{{ chauffuer.profile.avatar }}" alt="{{ chauffuer.profile.user.first_name }} avatar">
            </div>
            <p class="chauffeur-name details">{{ chauffuer.profile.user.first_name }}</p>
            <p class="chauffeur-rating details">
                {% if chauffuer.average_rating == None %}
                No rating
                {% else %}
                <i class="fa-solid fa-star"></i> <span>{{ chauffuer.average_rating | floatformat:1 }} ({{ chauffuer.count_rating }})</span>
                {% endif %}
            </p>
        </div>
        <p class="chauffeur-body">Experience: <span id="experience">
                {{ chauffuer.experience }} Years</span>
        </p>
        <button type="button" hx-get="{% url 'trip-request' %}?driver={{ chauffuer.id }}" hx-target="#baseDialog" class="chauffeur-cta"
            aria-label="create a new trip">Book Chauffeur</button>
    </div>
    {% endfor %}
    {% else %}
    <p>There are no drivers</p>
    {% endif %}
</section>

{% endblock %}

{% block javascript %}
<script src="{% static 'js/script.js' %}"></script>
{% endblock %}