{% extends 'layouts/blank.html' %}
{% load static %}

{% block content %}

<section id="hero">
    <h2 class="h2-style text-center">Meet our Professional Chauffeurs</h2>
    <p class="text-center">Discover the elite chauffeurs dedicated to providing an exceptional blend of comfort, luxury
        and safety with
        every ride. We ensure that each journey with us is not only seamless and secure but also provides an
        unforgettable and pleasant experience.</p>
    <img src="" alt="">
</section>

<!-- Chauffeurs section -->
<section class="chauffeurs-container">
    <div class="chauffeur">
        <div class="chauffeur-head">
            <div class="chauffeur-image rounded-full">
                <img src="{% static 'images/avatar.png' %}" alt="">
            </div>
            <p class="chauffeur-name details">King Vegeta</p>
            <p class="chauffeur-rating details">4.7</p>
        </div>
        <div class="chauffeur-body">
            <p class="chauffeur-experience">Experience: <span id="experience">6 </span>Years</p>
            <p class="chauffeur-speciality">
                <span class="speciality">Airport Transfers</span>
                <span class="speciality">VIP Events</span>
                <span class="speciality">City Tours</span>
            </p>
        </div>
        <a class="chauffeur-cta" href="">Book Chauffeur</a>
    </div>
    <div class="chauffeur">
        <div class="chauffeur-head">
            <div class="chauffeur-image rounded-full">
                <img src="{% static 'images/avatar.png' %}" alt="">
            </div>
            <p class="chauffeur-name details">King Vegeta</p>
            <p class="chauffeur-rating details">4.7</p>
        </div>
        <div class="chauffeur-body">
            <p class="chauffeur-experience">Experience: <span id="experience">6 </span>Years</p>
            <p class="chauffeur-speciality">
                <span class="speciality">Airport Transfers</span>
                <span class="speciality">VIP Events</span>
                <span class="speciality">City Tours</span>
            </p>
        </div>
        <a class="chauffeur-cta" href="">Book Chauffeur</a>
    </div>
    <div class="chauffeur">
        <div class="chauffeur-head">
            <div class="chauffeur-image rounded-full">
                <img src="{% static 'images/avatar.png' %}" alt="">
            </div>
            <p class="chauffeur-name details">King Vegeta</p>
            <p class="chauffeur-rating details">4.7</p>
        </div>
        <div class="chauffeur-body">
            <p class="chauffeur-experience">Experience: <span id="experience">6 </span>Years</p>
            <p class="chauffeur-speciality">
                <span class="speciality">Airport Transfers</span>
                <span class="speciality">VIP Events</span>
                <span class="speciality">City Tours</span>
            </p>
        </div>
        <a class="chauffeur-cta" href="">Book Chauffeur</a>
    </div>
    <div class="chauffeur">
        <div class="chauffeur-head">
            <div class="chauffeur-image rounded-full">
                <img src="{% static 'images/avatar.png' %}" alt="">
            </div>
            <p class="chauffeur-name details">King Vegeta</p>
            <p class="chauffeur-rating details">4.7</p>
        </div>
        <div class="chauffeur-body">
            <p class="chauffeur-experience">Experience: <span id="experience">6 </span>Years</p>
            <p class="chauffeur-speciality">
                <span class="speciality">Airport Transfers</span>
                <span class="speciality">VIP Events</span>
                <span class="speciality">City Tours</span>
            </p>
        </div>
        <a class="chauffeur-cta" href="">Book Chauffeur</a>
    </div>
</section>

{% endblock %}

{% block javascript %}
<script src="{% static 'js/script.js' %}"></script>
{% endblock %}