{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Favicons-->
    <link rel="apple-touch-icon" sizes="180x180" href="{% static 'favicons/apple-touch-icon.png' %}">
    <link rel="icon" type="image/png" sizes="32x32" href="{% static 'favicons/favicon-32x32.png' %}">
    <link rel="icon" type="image/png" sizes="16x16" href="{% static 'favicons/favicon-16x16.png' %}">
    <link rel="manifest" href="{% static 'favicons/site.webmanifest' %}">

    <title>Lux Chauffeurs</title>
    <!-- HTMX and extension -->
    <script src="https://unpkg.com/htmx.org/dist/htmx.js" defer></script>
    <script src="https://unpkg.com/htmx.org/dist/ext/ws.js" defer></script>
    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
    <!-- Tailwind css -->
    <script src="https://cdn.tailwindcss.com"></script>

    <!-- Flatpickr for DateTime Picker -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/flatpickr/4.6.13/flatpickr.min.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>

<body>

    {% include 'includes/messages.html' %}
    {% include 'includes/header-side.html' %}
    <div class="section-wrapper">
        <div class="site">
            <div class="cross-head-wrapper">
                <div class="cross-head">
                    <button class="navbar-toggler">
                        <i class="fa-solid fa-bars-staggered"></i>
                    </button>
                    <div class="account relative">
                        {% if request.user.is_authenticated %}
                        <div class="dropdown-head flex items-center justify-center cursor-pointer">
                            <a href=""></a>
                            <img class="avatar-image" src="{{ user.profile.avatar }}" />
                            <span id="user-name" class="ml-2 mr-1">{{ user.profile.name }}</span>
                            <img src="{% static 'icons/bi-chevron-down.svg' %}" class="arrow-icon w-5" alt="arrow">

                        </div>
                        <div class="dropdown-body hidden-item absolute right-2 shadow rounded-lg w-40">
                            <ul class="flex flex-col items-end">
                                <li class="menu-item"><a href="{% url 'profile' %}">My Profile</a></li>
                                <li class="menu-item dashboard-link"><a href="{% url 'trips-dashboard' %}">Dashboard</a>
                                </li>
                                <li class="menu-item"><a href="{% url 'profile-settings' %}">Settings</a></li>
                                <li class="menu-item"><a href="{% url 'account_logout' %}">Log Out</a></li>
                            </ul>
                        </div>
                        {% else %}
                        <a href="{% url 'account_login' %}">Login</a>
                        <a href="{% url 'signup_type' %}">Signup</a>
                        {% endif %}

                    </div>
                </div>
            </div>
            {% block layout %}
            {% endblock %}

            <footer class="footer">
                <p>&copy; 2025 Luxury Chauffeur Service - Website for educational purposes only</p>
            </footer>
        </div>
    </div>

    <!-- Modal Container -->
    <div class="modal fade" id="baseModal" tabindex="-1" aria-labelledby="baseModalLabel" aria-hidden="true">
        <div id="baseDialog" class="modal-dialog" hx-target="this"></div>
    </div>


    <!-- Font Awesome JS -->
    <script src="https://kit.fontawesome.com/759c893288.js" crossorigin="anonymous"></script>
    <!-- jquery JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.js"
        integrity="sha256-DZAnKJ/6XZ9si04Hgrsxu/8s717jcIzLy3oi35EouyE=" crossorigin="anonymous"></script>
    <!-- Flat picker JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/flatpickr/4.6.13/flatpickr.min.js"></script>

    <!-- Bootstrap JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.7/js/bootstrap.min.js"
        integrity="sha512-zKeerWHHuP3ar7kX2WKBSENzb+GJytFSBL6HrR2nPSR1kOX1qjm+oHooQtbDpDBSITgyl7QXZApvDfDWvKjkUw=="
        crossorigin="anonymous" referrerpolicy="no-referrer"></script>

    {% block javascript %}
    <script src="{% static 'js/script.js' %}"></script>
    {% endblock %}
</body>

</html>