{% extends 'layouts/blank.html' %}
{% load static %}

{% block content %}
    <main class="main home push-footer">
        <!-- Hero section -->
        <section id="hero">
            <h2>Travel Like a Royal</h2>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ad totam praesentium eveniet saepe explicabo?
                Nihil quae ab similique id sed asperiores qui natus repudiandae! Eaque unde non assumenda blanditiis?
                Eligendi!</p>
            <img src="" alt="">
        </section>
        <!-- Services section -->
        <section id="services">
            <div class="benefit">Benefit 10</div>
            <div class="benefit">Benefit 20</div>
            <div class="benefit">Benefit 30</div>
        </section>
        <!-- Book a ride section -->
        <section id="book-now">
            <div>
                <p>Its time to make a booking</p>
            </div>
            <button>Book Now!</button>
        </section>
    </main>

{% endblock %}

{% block javascript %}
<script src="{% static 'js/script.js' %}"></script>
{% endblock %}