{% extends 'layouts/blank.html' %}
{% load static %}

{% block content %}
<main class="main home push-footer">
    <!-- Hero section -->
    <section id="hero" class="flex flex-col justify-center items-center">
        <h2 class="h2-style text-center">Experience Unrivaled Luxury</h2>
        <p class="col-md-7 text-center">Begin your journey of elegance with our world-class chauffeur service, designed
            to offer you a
            seamless, luxurious travel experience from start to end.</p>
        <!-- <div class="hero-image">
            <img src="{% static 'images/rolls-royce-car.jpg' %}" alt="">
        </div> -->
        {% include 'includes/hero-carousel.html' %}
    </section>
    <!-- Services section -->
    <section id="services" class="flex flex-col justify-center items-center">
        <h2 class="h2-style text-center">Our Chauffeur Services</h2>
        <p class="text-center">Experience the epitome of luxury and convenience with our exclusive chauffeur services,
            tailored to meet your
            every need.</p>


    </section>
    <!-- book a ride -->
    <div id="book-now">
        <div>
            <p>Its time to make a booking</p>
        </div>
        <button>Book Now!</button>
    </div>
    <section id="fleet">
        <h2 class="h2-style text-center">Our Fleet</h2>
        <div class="vehicle-container">
            <div class="vehicle">
                <img src="{% static 'images/vehicle-sedan.jpg' %}" alt="Luxury Sedan">
                <p>Luxury Sedan</p>
            </div>
            <div class="vehicle">
                <img src="{% static 'images/vehicle-suv.jpg' %}" alt="Executive SUV">
                <p>Executive SUV</p>
            </div>
            <div class="vehicle">
                <img src="{% static 'images/vehicle-van.jpg' %}" alt="Spacious Van">
                <p>Spacious Van</p>
            </div>
            <div class="vehicle">
                <img src="{% static 'images/vehicle-limo.jpg' %}" alt="Premium Limousine">
                <p>Premium Limousine</p>
            </div>
            <div class="vehicle">
                <img src="{% static 'images/vehicle-vintage.jpg' %}" alt="Vintage Car">
                <p>Classic Vintage Car</p>
            </div>
        </div>
    </section>
    <section id="get-started">
        <h2 class="h2-style text-center">How to Get Started</h2>
        <p>Ready for a first-class experience? Follow these simple steps to book your next luxurious ride.</p>
        <ol>
            <li>Register an account with us.</li>
            <li>Book your ride and let us handle the rest.</li>
        </ol>
    </section>


</main>

{% endblock %}

{% block javascript %}
<script src="{% static 'js/script.js' %}"></script>
{% endblock %}