<table id="adminTable" class="admin-table">
    <thead>
        <tr>
            <th class="text-left">Title</th>
            <th class="text-left">Name</th>
            <th class="text-center">Email</th>
            <th class="text-center">Phone</th>
            <th class="text-center">Home Address</th>
            <th class="text-center">Rating</th>
        </tr>
    </thead>
    <div class="col-sep"></div>
    <tbody>
        {% if passengers %}
        {% for passenger in passengers %}
        <tr>
            <td>
                {% if not passenger.profile.title == None %}
                {{ passenger.profile.title }}
                {% endif %}
            </td>
            <td>{{ passenger.profile.name }}</td>
            <td>{{ passenger.profile.user.email }}</td>
            <td>
                {% if not passenger.profile.phone == None %}
                {{ passenger.profile.phone }}
                {% endif %}
            </td>
            <td>
                {% if not passenger.profile.home_address == None %}
                {{ passenger.profile.home_address }}
                {% endif %}                
            </td>
            <td class="text-center">
                {% if passenger.average_rating == None %}
                No rating
                {% else %}
                {{ passenger.average_rating | floatformat:1 }} ({{ passenger.count_rating }})
                {% endif %}
            </td>
        </tr>
        {% endfor %}
        {% else %}
        <tr class="empty-row">
            <td colspan="6" class="empty-col"><p>You do not have any passengers.</p></th>
        </tr>
        {% endif %}
    </tbody>
</table>