<table id="adminTable" class="admin-table">
    <thead>
        <tr>
            <th class="text-left">Title</th>
            <th class="text-left">Name</th>
            <th class="text-center">Email</th>
            <th class="text-center">Phone</th>
            <th class="text-center">Home Address</th>
            <th class="text-center">Rating</th>
        </tr>
    </thead>
    <div class="col-sep"></div>
     <ul>
        <li>1-Star: {{ passenger.rating_levels.star_1 }}</li>
        <li>2-Star: {{ passenger.rating_levels.star_2 }}</li>
        <li>3-Star: {{ passenger.rating_levels.star_3 }}</li>
        <li>4-Star: {{ passenger.rating_levels.star_4 }}</li>
        <li>5-Star: {{ passenger.rating_levels.star_5 }}</li>
    </ul>
    <tbody>
        {% if passengers %}
        {% for passenger in passengers %}
        <tr>
            <td>{{ passenger.profile.title }}</td>
            <td>{{ passenger.profile.name }}</td>
            <td>{{ passenger.profile.user.email }}</td>
            <td>{{ passenger.profile.phone }}</td>
            <td>{{ passenger.profile.home_address }}</td>
            <td class="text-center">
                {% if passenger.average_rating == None %}
                No rating
                {% else %}
                {{ passenger.average_rating | floatformat:1 }} ({{ passenger.count_rating }})
                {% endif %}
            </td>
        </tr>
        {% endfor %}
        {% else %}
        <tr class="empty-row">
            <td colspan="6" class="empty-col"><p>You do not have any passengers.</p></th>
        </tr>
        {% endif %}
    </tbody>
</table>