<h2 class="dash-header">Ratings</h2>
{% if user_profile.average_rating == None %}
<p class="ratings-total">No ratings</p>
{% else %}
<p class="ratings-total">Average: <span class="ratings-total-value">{{ user_profile.average_rating | floatformat:1 }} 
</span>(<span class="ratings-total-count">{{ user_profile.count_rating }}</span>) reviews</p>
{% endif %}
<ol>
    <li class="rating-item stars-5">
        <span class="icon-number">5 <i class="fa-solid fa-star"></i></span>
        <div class="rating-bar">
            <div class="rating-fill"></div>
            <span id="rating-value-5" class="rating-value">{{ rating_levels.star_5 }}</span>
        </div>
    </li>        
    <li class="rating-item stars-4">
        <span class="icon-number">4 <i class="fa-solid fa-star"></i></span>
        <div class="rating-bar">
            <div class="rating-fill"></div>
            <span id="rating-value-4" class="rating-value">{{ rating_levels.star_4 }}</span>
        </div>
    </li>        
    <li class="rating-item stars-3">
        <span class="icon-number">3 <i class="fa-solid fa-star"></i></span>
        <div class="rating-bar">
            <div class="rating-fill"></div>
            <span id="rating-value-3" class="rating-value">{{ rating_levels.star_3 }}</span>
        </div>
    </li>        
    <li class="rating-item stars-2">
        <span class="icon-number">2 <i class="fa-solid fa-star"></i></span>
        <div class="rating-bar">
            <div class="rating-fill"></div>
            <span id="rating-value-2" class="rating-value">{{ rating_levels.star_2 }}</span>
        </div>
    </li>        
    <li class="rating-item stars-1">
        <span class="icon-number">1 <i class="fa-solid fa-star"></i></span>
        <div class="rating-bar">
            <div class="rating-fill"></div>
            <span id="rating-value-1" class="rating-value">{{ rating_levels.star_1 }}</span>
        </div>
    </li>        
</ol>