<h2 class="dash-header">Trips Summary</h2>
<p class="all-trips">All Trips: {{ stats.all }}</p>
<ul>
    <li class="stats-item stats-completed"><span class="stat-value completed">{{ stats.completed }}</span> <span class="stat-label">Completed</span></li>
    <li class="stats-item stats-cancelled"><span class="stat-value cancelled">{{ stats.cancelled }}</span> <span class="stat-label">Cancelled</span>
    </li>
    <li class="stats-item stats-pending"><span class="stat-value pending">{{ stats.pending }}</span> <span class="stat-label">Pending</span>
    </li>
    <li class="stats-item stats-pending"><span class="stat-value pending">{{ stats.modified }}</span> <span class="stat-label">Modified</span>
    </li>
</ul>
