<h2 class="dash-header">Ratings</h2>
<p class="ratings-total">Total: <span class="ratings-total-value">0</span> reviews</p>
<ol>
    <li class="rating-item stars-5">
        <span class="icon-number">5 <i class="fa-solid fa-star"></i></span>
        <div class="rating-bar">
            <div class="rating-fill"></div>
            <span id="rating-value-5" class="rating-value">138</span>
        </div>
    </li>        
    <li class="rating-item stars-4">
        <span class="icon-number">4 <i class="fa-solid fa-star"></i></span>
        <div class="rating-bar">
            <div class="rating-fill"></div>
            <span id="rating-value-4" class="rating-value">120</span>
        </div>
    </li>        
    <li class="rating-item stars-3">
        <span class="icon-number">3 <i class="fa-solid fa-star"></i></span>
        <div class="rating-bar">
            <div class="rating-fill"></div>
            <span id="rating-value-3" class="rating-value">100</span>
        </div>
    </li>        
    <li class="rating-item stars-2">
        <span class="icon-number">2 <i class="fa-solid fa-star"></i></span>
        <div class="rating-bar">
            <div class="rating-fill"></div>
            <span id="rating-value-2" class="rating-value">80</span>
        </div>
    </li>        
    <li class="rating-item stars-1">
        <span class="icon-number">1 <i class="fa-solid fa-star"></i></span>
        <div class="rating-bar">
            <div class="rating-fill"></div>
            <span id="rating-value-1" class="rating-value">60</span>
        </div>
    </li>        
</ol>