<div class="dash-availability">
    {% include 'users/partials/user-availability.html' %}
</div>
<section class="dash-stats" >
    {% include 'trips/partials/dash-trips-summary.html' %}
</section>
<section class="dash-ratings" >
    {% include 'trips/partials/dash-ratings.html' %}
</section>
<div class="dash-details">
    <section class="dash-activities" id="dashTable" hx-get="{% url 'trips-list' 'recent' %}"
        hx-trigger="load, tripListChanged from:body">
        {% include 'trips/partials/dash-table.html' %}
    </section>
</div>