<div id="calendarContainer">
    <div class="calendar-wrapper">
        <div id="userCalendar" class="user-calendar">
            <div class="calendar-nav">
                <button id="prevBtn" class="nav-btn">
                    <i class="fa-solid fa-chevron-left"></i>
                </button>
                <h3 id="monthYear" class="monthYear"></h3>
                <button id="nextBtn" class="nav-btn">
                    <i class="fa-solid fa-chevron-right"></i>
                </button>
            </div>
            <div class="days">
                <div class="day">Mon</div>
                <div class="day">Tue</div>
                <div class="day">Wed</div>
                <div class="day">Thu</div>
                <div class="day">Fri</div>
                <div class="day">Sat</div>
                <div class="day">Sun</div>
            </div>
            <div class="dates" id="dates"></div>
        </div>
    </div>
</div>