{% load static %}

<div id="calendarContainer">
    <div class="calendar-wrapper">
        <h3>View By Date</h3>

        <div class="calendar-nav">
            <button id="prevMonth" class="month-nav"
                hx-get="{% url 'trips-calendar' %}?direction=prev&year={{ year }}&month={{ month }}"
                hx-target="#calendarContainer" hx-trigger="click">
                <img src="{% static 'icons/bi-chevron-left.svg' %}" class="arrow-icon w-5" alt="arrow">
            </button>
            <h3 id="monthTitle">{{ month_str }} {{ year }}</h3>
            <button id="nextMonth" class="month-nav"
                hx-get="{% url 'trips-calendar' %}?direction=next&year={{ year }}&month={{ month }}"
                hx-target="#calendarContainer" hx-trigger="click">
                <img src="{% static 'icons/bi-chevron-right.svg' %}" class="arrow-icon w-5" alt="arrow">
            </button>
        </div>

        <div id="userCalendar" data-year="{{ year }}" data-month="{{ month }}">

            {{ trip_calendar | safe }}
        </div>
        <button type="button" id="calenderTrip" class="clickable">This is the new trip</button>


    </div>
</div>