<h2 class="dash-header">Recent Activities</h2>
<table class="activity-table">
    <thead>
        <tr>
            <th class="trip-no"></th>
            <th class="trip-to desktop-table">Trip to</th>
            <th class="desktop-table">Updated</th>
            <th class="mobile-table">Updated</th>
            <th>Status</th>
            <th>Action</th>
        </tr>
    </thead>
    <div class="col-sep"></div>
    <tbody>
        {% if trips %}
        {% for trip in trips %}
        <tr>
            <td class="trip-no">{{ forloop.counter }}.</td>
            <td class="desktop-table">{{ trip.location_end }}</td>
            <td class="desktop-table">{{ trip.updated_on | date:"Y M d H:i" }}</td>
            <td class="mobile-table">{{ trip.updated_on | date:"d/m/Y" }}</td>
            <td class="text-center">{{ trip.status_str }}</td>
            <td class="text-center">
                <button type="button" class="dash-tab-btn" data-hx-get="{% url 'trip-detail' trip.trip_name %}"
                    data-hx-target="#baseDialog">View Details
                </button>

            </td>
        </tr>
        {% endfor %}
        {% else %}
        <tr class="empty-row">
            <td colspan="5" class="empty-col"><p>You do not have any trips.</p></th>
        </tr>
        {% endif %}
    </tbody>
</table>