<div id="calendarContainer">
    <div class="avail-wrapper">
        <div class="trip-head">
            <h3>View By Date</h3>
            <p>Current Time: {{ current_time }}</p>
            <p>Calendar for {{ month_str }} {{ year }}</p>
        </div>

        <div class="calendar-nav">
            <button id="prevMonth" class="month-nav"
                hx-get="{% url 'trips-calendar' %}?direction=prev&year={{ year }}&month={{ month }}"
                hx-target="#calendarContainer" hx-trigger="click">
                Previous Month
            </button>
            <h3 id="monthTitle">{{ month_str }} {{ year }}</h3>
            <button id="nextMonth" class="month-nav"
                hx-get="{% url 'trips-calendar' %}?direction=next&year={{ year }}&month={{ month }}"
                hx-target="#calendarContainer" hx-trigger="click">
                Next Month
            </button>
        </div>

        <div id="userCalendar" data-year="{{ year }}" data-month="{{ month }}">

            {{ trip_calendar | safe }}
        </div>
        <button type="button" id="calenderTrip" class="clickable">This is the new trip</button>


    </div>
</div>