<div id="tripsContainer" class="trips-container">
    <div class="trip-wrapper">
        <div class="trip-head">
            <h3>My trips</h3>
        </div>
        <div class="display-controls">
            <div class="filter-wrapper">
                <button type="button" id="filter-button" class="display-controls-item"><i class="fa-solid fa-filter"></i> Filter: <span class="set-value">All</span></button>
                <ul id="filter-options" class="display-controls-options">
                    <li data-status="all" class="current-filter">All</li>
                    <li data-status="in_progress">In Progress</li>
                    <li data-status="confirmed">Confirmed</li>
                    <li data-status="pending">Pending</li>
                    <li data-status="modified">Modified</li>
                    <li data-status="completed">Completed</li>
                    <li data-status="cancelled">Cancelled</li>
                </ul>
            </div>
            <div class="sort-wrapper">
                <button type="button" id="sort-button" class="display-controls-item"><i class="fa-solid fa-sort"></i> Sort: <span class="set-value">Trip Date</span></button>
                <ul id="sort-options" class="display-controls-options">
                    <li data-sort="travel_asc"  class="current-sort">
                        <i class="fa-solid fa-arrow-up"></i> 
                        <span>Trip Date</span>
                    </li>
                    <li data-sort="travel_desc">
                        <i class="fa-solid fa-arrow-down"></i> 
                        <span>Trip Date</span>
                    </li>
                    <li data-sort="created_asc">
                        <i class="fa-solid fa-arrow-up"></i> 
                        <span>Created on</span>
                    </li>
                    <li data-sort="created_desc">
                        <i class="fa-solid fa-arrow-down"></i> 
                        <span>Created on</span>
                    </li>
                    <li data-sort="updated_asc">
                        <i class="fa-solid fa-arrow-up"></i> 
                        <span>Last Updated</span>
                    </li>
                    <li data-sort="updated_desc">
                        <i class="fa-solid fa-arrow-down"></i> 
                        <span>Last Updated</span>
                    </li>
                    <li data-sort="status_asc">
                        <i class="fa-solid fa-arrow-up"></i> 
                        <span>Trip Status</span>
                    </li>
                    <li data-sort="status_desc">
                        <i class="fa-solid fa-arrow-down"></i> 
                        <span>Trip Status</span>
                    </li>
                </ul>
            </div>
        </div>
        <div class="trip-list">
            <ul>
                {% for trip in trips reversed %}
                <li class="trip-item" data-status="{{ trip.status }}" data-created="{{ trip.created_on | date:'YmdHi' }}"
                    data-updated="{{ trip.updated_on | date:'YmdHi' }}" data-travel="{{ trip.travel_datetime | date:'YmdHi' }}"
                    data-id="{{ trip.trip_name }}" data-hx-get="{% url 'trip-detail' trip.trip_name %}"
                    data-hx-target="#baseDialog" data-hx-trigger="click">
                                    
                    <div class="trip-top">
                        <div class="trip-details">
                            <p class="driver">{{ trip.driver }}</p>
                            <p class="date">{{ trip.travel_datetime | date:"Y M d - H:i" }}</p>
                        </div>
                        <div class="trip-status status-{{ trip.status_class }}">
                            <p>{{ trip.status_str }}</p>
                        </div>
                    </div>
                    <p class="destination">{{ trip.location_end }}</p>
                </li>
                {% empty %}
                <li class="empty-list">You do not have any trips.</li>
                {% endfor %}
            </ul>
        </div>
        {% if user.profile.user_type == 'passenger' %}
        <div data-hx-get="{% url 'trip-request' %}" data-hx-target="#baseDialog" class="fixed-button"
            title="create a new trip" >Create a new trip</div>
        {% endif %}
    </div>
</div>