<table id="managerTable" class="manager-table">
    <thead>
        <tr>
            <th class="text-left">Name</th>
            <th class="text-center">Email</th>
            <th class="text-center">Phone</th>
            <th class="text-center">Home Address</th>
            <th class="text-center">Rating</th>
            <th class="text-center">Status</th>
        </tr>
    </thead>
    <div class="col-sep"></div>
    <tbody>
        {% if drivers %}
        {% for driver in drivers %}
        <tr>
            <td>
                <a href="{% url 'profile'  driver.profile.user.username %}" class="profile-link">{{ driver.profile.name }}</a>
            </td>
            <td>{{ driver.profile.email }}</td>
            <td>
                {% if not driver.profile.phone == None %}
                {{ driver.profile.phone }}
                {% endif %}                
            </td>
            <td>
                {% if not driver.profile.home_address == None %}
                {{ driver.profile.home_address }}
                {% endif %}                       
            </td>
            <td class="text-center">
                {% if driver.average_rating == None %}
                No rating
                {% else %}
                {{ driver.average_rating | floatformat:1 }} ({{ driver.count_rating }})
                {% endif %}
            </td>            
            <td>{{ driver.status }}</td>
        </tr>
        {% endfor %}
        {% else %}
        <tr class="empty-row">
            <td colspan="6" class="empty-col"><p>You do not have any drivers.</p></th>
        </tr>
        {% endif %}
    </tbody>
</table>