<table class="manager-table">
    <thead>
        <tr>
            <th class="text-left">Destination</th>
            <th class="text-center">Trip Date</th>
            <th class="text-center">Status</th>
            <th class="text-center">Action</th>
            <th class="text-center">Passenger</th>
            <th class="text-center">Driver</th>
        </tr>
    </thead>
    <div class="col-sep"></div>
    <tbody>
        {% if trips %}
        {% for trip in trips %}
        <tr>
            <td>{{ trip.location_end }}</td>
            <td>{{ trip.travel_datetime | date:"d/m/Y - H:i" }}</td>
            <td><span class="status-tab status-{{ trip.status_class }}">{{ trip.status_str }}</span></td>
            <td>
                <button type="button" class="action-link" data-hx-get="{% url 'trip-detail' trip.trip_name %}"
                    data-hx-target="#baseDialog">View Details
                </button>
            </td>
            <td class="name-col">
                <a href="{% url 'profile'  trip.passenger.profile.user.username %}" class="profile-link" aria-label="link passenger's profile" >{{ trip.passenger.profile.name }}</a>
            </td>
            <td class="name-col">
                <a href="{% url 'profile'  trip.driver.profile.user.username %}" class="profile-link" aria-label="link driver's profile">{{ trip.driver.profile.name }}</a>
            </td>
        </tr>
        {% endfor %}
        {% else %}
        <tr class="empty-row">
            <td colspan="6" class="empty-col"><p>You do not have any trips.</p></th>
        </tr>
        {% endif %}
    </tbody>
</table>