{% load static %}
{% load crispy_forms_tags %}


<div id="trip-detail-container" {% if not is_modal %} hx-swap-oob="outerHTML" {% endif %} class="trip-summary {% if is_modal %} modal-content {% endif %}">
    <div class="trip-head {% if is_modal %} modal-header {% endif %}">
        <h3>Trip Details</h3>
        {% if is_modal %} 
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        {% endif %}
    </div>
    <div class="sub-items {% if is_modal %} modal-body {% endif %}">
        <div class="sum-item status-container">
            <p class="title">Status: </p>
            <p class="status status-{{ trip.status_class }} max-w-max">{{ trip.status_str }}</p>
        </div>
        <div class="locations sum-item">
            <p class="sub-head">Locations</p>
            <div class="pickup">
                <span class="sub-head">Pickup: </span><address class="bold-value">{{ trip.location_start }}</address>
            </div>
            <div class="destination">
                <span class="sub-head">Destination: </span><address class="bold-value">{{ trip.location_end }}</address>
            </div>
        </div>
        <div class="datetime sum-item">
            <p class="date one-row"><span class="sub-head">Date & Time: </span><span class="bold-value">{{ trip.travel_datetime | date:"Y M d - H:i" }}</span></p>
        </div>
        <div class="sum-item">
            <p class="sub-head">Chauffeur</p>
            <div>
                <div class="trip-image">
                    <img src="{% static 'images/driver-a-8.jpg' %}" alt="member of staff">
                </div>
                <div class="driver"><span>Chauffeur: </span><span>{{ trip.driver }}</span></div>
            </div>
        </div>
        <div class="sum-item">
            <div class="vehicle-summary">
                <p><span class="sub-head">Vehicle: </span><span class="bold-value">{{ trip.vehicle }}</span></p>
            </div>
        </div>
        <div class="type sum-item">
            <p class="one-row"><span class="text-bold">Trip type: </span><span class="bold-value">{{ trip.trip_type }}</span></p>
            <p class="comments-text flex flex-col"><span class="text-bold">Comments: </span><span
                    class="italic-value">{{ trip.comments }}</span></p>
        </div>
        <div class="trip-controls">
            {% if trip.status_class != 'cancelled' and trip.status_class != 'completed' %}
            <button type="button"  class="trip-cancel trip-btn"
            hx-get="{% url 'trip-delete' trip.trip_name %}"
             hx-target="#baseDialog"
             >Cancel Trip <i class="fa-solid fa-trash-can"></i></button>
            <button type="button" class="trip-edit trip-btn" id="editTripButton"
             hx-get="{% url 'trip-edit' trip.trip_name %}"
             hx-target="#baseDialog"
            >Edit Trip <i class="fa-solid fa-pen-to-square"></i></button>
            {% else %}
            <p class="no-more-changes">No more changes/actions for this trip.</p>
            {% endif %}

        </div>
    </div>
</div>