{% load static %}

<div id="trip-detail-container" class="trip-summary">
    <div class="trip-head">
        <h3>Trip Details</h3>
    </div>
    <div class="sub-items">
        <div class="sum-item status-container">
            <p class="title">Status: </p>
            <p class="status status-upcoming">{{ trip.status }}</p>
        </div>
        <div class="locations sum-item">
            <p class="sub-head">Locations</p>
            <div class="pickup">
                Pickup: <address>{{ trip.location_start }}</address>
            </div>
            <div class="destination">
                Destination: <address>{{ trip.location_end }}</address>
            </div>
        </div>
        <div class="datetime sum-item">
            <p class="sub-head">Date & Time</p>
            <div class="date">Date: <span>{{ trip.travel_date }}</span></div>
            <div class="time">Time: <span>{{ trip.travel_time }}</span></div>
        </div>
        <div class="sum-item">
            <p class="sub-head">Chauffeur</p>
            <div>
                <div class="trip-image">
                    <img src="{% static 'images/driver-a-8.jpg' %}" alt="member of staff">
                </div>
                <div class="driver"><span>Chauffeur: </span><span>{{ trip.driver }}</span></div>
            </div>
        </div>
        <div class="sum-item">
            <div class="vehicle-summary">
                <p><span  class="sub-head">Vehicle: </span><span class="bold-value">{{ trip.vehicle }}</span></p>
            </div>
        </div>
        <div class="type sum-item">
            <p class="trip-type"><span class="text-bold">Trip type: </span><span class="bold-value">{{ trip.trip_type }}</span></p>
            <p class="comments-text flex flex-col"><span class="text-bold">Comments: </span><span class="italic-value">{{ trip.comments }}</span></p>
        </div>
        <div class="trip-controls">
            <a href="" class="trip-cancel trip-btn">Cancel <i class="fa-solid fa-trash-can"></i></a>
            <a href="" class="trip-edit trip-btn">Edit <i class="fa-solid fa-pen-to-square"></i></a>
        </div>
    </div>
</div>